
<div class="modal" id="product-form">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= form_tag products_path, method: :post, class: 'form-horizontal' do %>
          <div class="form-group">
            <div class="col-sm-12">
              <%= label_tag :name, 'Nome', class: 'col-xs-6' %>
              <%= text_field_tag :name, '', class: 'form-control', placeholder: 'Digite o nome do produto', required: true %>
            </div>
            <div class="col-sm-12">
              <%= label_tag :description, 'Descrição', class: 'col-xs-6' %>
              <%= text_field_tag :description, '', class: 'form-control', placeholder: 'Digite o modelo do produto', required: true %>
            </div>
            <div class="col-sm-12">
              <%= label_tag :size, 'Tamanho', class: 'col-xs-6' %>
              <%= select_tag :size_id, options_for_size_select, class: 'form-control', id: 'size-select', required: true, include_blank: '' %>
            </div>
            <div class="col-sm-12">
              <%= label_tag :color, 'Cor', class: 'col-xs-6' %>
              <%= select_tag :color_id, options_for_color_select, class: 'form-control', id: 'color-select', required: true, include_blank: '' %>
            </div>
          </div>
          <%= submit_tag 'Salvar', class: 'btn btn-sm btn-primary pull-right'%>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>